@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<video width="1120" height="540" controls="controls" id="video" preload="auto">
    <source src="getVideos" type="video/mp4">
</video>
